.hero {
  width: 100%;
  padding: 180px 0 40px;
}

.hero-main {
  margin: auto;
  max-width: 1400px;
  align-items: center;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 40px;
}

.left-hero h1 {
  color: #000;
  font-size: 48px;
  line-height: 1.4;
  font-weight: 400;
}

.left-hero span {
  color: #000;
  font-weight: 900;
}

.left-hero p {
    margin-top: 15px;
    color: #4d5566;
    font-size: 20px;
    font-weight: 200;
}

.right-hero img {
  width: 100%;
  max-width: 480px;
  margin-top: -96px; 
}


.hero-swiper {
  width: 100%;
}

.swiper-pagination-bullet {
  background: #000;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* swiper dots */
.hero-swiper .swiper-pagination-bullet {
  background-color: black !important;
  opacity: 0.4;
}

.hero-swiper .swiper-pagination-bullet-active {
  background-color: black !important;
  opacity: 1;
}


/* Responsive */
/* Tablet */
@media (max-width: 992px) {
  .hero {
    padding: 140px 0 40px;
  }

  .left-hero h1 {
    font-size: 40px;
  }

  .right-hero {
    display: flex;
    justify-content: center;
  }

  .right-hero img {
    max-width: 420px;
    margin-top: -60px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    padding: 120px 60px 30px;
  }

  .hero-container {
    flex-direction: column-reverse;
    
  }

  .left-hero {
    text-align: left; 
  }

  .left-hero h1 {
    font-size: 32px;
    line-height: 1.3;
  }

  .left-hero p {
    font-size: 18px;
  }

  .right-hero {
    display: flex;
    justify-content: center;
  }

  .right-hero img {
    max-width: 320px;
    margin-top: -20px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .left-hero h1 {
    font-size: 28px;
  }

  .left-hero p {
    font-size: 16px;
  }

  .right-hero img {
    max-width: 280px;
    margin-top: 0;
  }
}





































































































































































































































































































































































































































































































































 
   