/* Base container */
.blog-container {
  max-width: 900px;
  margin: auto;
  padding: 140px 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.8;
  color: #000;
}

/* Hero section */
.blog-hero {
  width: 100%;
  height: 380px;
  overflow: hidden;
  border-radius: 14px;
  margin-bottom: 30px;
}

.blog-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Title */
.blog-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #000;
}

/* Paragraphs */
.blog-container p {
  font-size: 16.5px;
  margin-bottom: 16px;
  color: #000;
}

.span {
  color: #000 !important;
  font-weight: 700;
}

/* Headings */
.blog-container h2 {
  font-size: 24px;
  margin: 45px 0 12px;
  font-weight: 700;
  color: #000;
}

.blog-container h4 {
  font-size: 17px;
  margin: 18px 0;
  font-weight: 400;
  color: #000;
}

.blog-container h5 {
  font-size: 15px;
  margin: 12px 0;
  color: #000;
}

/* Heading with icon */
.heading-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bell-icon {
  width: 22px;
  height: 22px;
}

/* UL dots */
.blog-container ul {
  list-style-type: disc;
  padding-left: 24px;
  margin-bottom: 20px;
}

.blog-container li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #000;
}

/* Expert tip */
.expert-tip {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  background: #f5f5f5;
  border-left: 5px solid #000;
  padding: 18px 20px;
  border-radius: 10px;
  margin: 30px 0;
}

.tip-icon {
  font-size: 22px;
}

.expert-tip h1 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #000;
}


/* Links – black */
a {
  color: #000 !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 768px) {
  .blog-title {
    font-size: 26px;
  }

  .blog-hero {
    height: 240px;
  }

  th,
  td {
    font-size: 14px;
    padding: 12px;
  }
}

.simple-table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
  font-family: Arial, sans-serif;
}

/* Header */
.simple-table th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  background-color: #f5f5f5;
  font-weight: 600;
  font-size: 14px;
}

/* Body */
.simple-table td {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

/* Mobile */
@media (max-width: 600px) {
  .simple-table th,
  .simple-table td {
    font-size: 13px;
    padding: 8px;
  }
}

.dha-link {
  color: #0a58ca;
  font-weight: 600;
  text-decoration: underline;
}

.dha-link:hover {
  color: #084298;
}

.gs-link {
  color: #0b5ed7;
  font-weight: 600;
  text-decoration: underline;
}

.gs-link:hover {
  color: #084298;
}
