/* HERO BACKGROUND */
.hero-section {
  height: 100vh;
  background-image: url("/public/assets/Img/2nd.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.event-h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
  /* font-family: 'Inter', sans-serif; */
  /* background: linear-gradient(135deg, #002d5b 0%, #0056b3 100%); */
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* text-transform: uppercase; */
  letter-spacing: -1.5px;
  position: relative;
  display: block;
  /* width: 100%; */
  color: #1d3e74;
}

.event-h1::after {
  content: "";
  display: block;
  width: 0px;
  height: 5px;
  background: linear-gradient(to right, #002d5b, #60a5fa);
  margin: 15px auto 0;
  border-radius: 10px;
  transition: width 0.4s ease;
}
.event-h1-span {
  color: #0c2444;
  font-weight: 900;
}

.event-h1:hover::after {
  width: 120px;
}
/* DARK OVERLAY */
.hero-overlay {
  background: linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.35)
  );
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CENTER BOX */
.hero-box {
  /* background: rgba(255, 255, 255, 0.92); */
  padding: 70px 90px;
  /* border-radius: 24px; */
  text-align: center;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
}

/* HEADING */
/* .hero-box h1 {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 30px;
  background:#0f172a;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */
