* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.trending {
  padding: 80px 20px;
  background: #ffffff;
  text-align: center;
}

.trending h2 span {
  position: relative;
}


/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 45px;
  flex-wrap: wrap;
}

.tab-btn {
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  background: #dbe3f3;
  color: #5a5a5a;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  background: #c6d3f0;
}

.tab-btn.active {
  background: #163d8f;
  color: #ffffff;
}

.course-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.course-card {
  background: #ffffff;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
}

.course-card:hover {
  transform: translateY(-8px);
}

/* Image */
.course-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

/* Title */
.course-title {
  padding: 16px 18px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.view-more-wrapper{
  margin-top: 50px;
}
/* Responsive */
@media (max-width: 992px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .course-grid {
    grid-template-columns: 1fr;
  }

  .trending h2 {
    font-size: 28px;
  }
}
