/*========================= UK Hero-section =========================*/

.uk-sections {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.uk-section {
  background: url("../../../../../public/assets/img/UK.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-right: 40px;
  /* border-radius: 20px; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.uk-section h2 {
  color: #1e3a8a;
  margin-bottom: 20px;
}
.uk-section p {
  color: #555555;
  line-height: 1.6;
}
.uk-section ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #555555;
}
.uk-section ul li {
  margin-bottom: 10px;
}
.uk-section {
  animation: fadeIn 0.6s ease-in-out;
}

.country-hero {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: rgb(202, 118, 118);
  padding: 60px 20px;
  text-align: center;
}

.container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
  border-left: 5px solid #d27130;
  border-right: 5px solid #d27130;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* animation: slideInDown 0.6s ease-in-out; */
}

.container span {
  font-size: 3.5rem;
  margin-right: 20px;
  display: inline-block;
  animation: bounce 2s infinite;
}
.container {
  display: flex;
  /* align-items: center; */
  padding-top: 50px;
  justify-content: left;
  /* flex-direction: column; */
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}
.container p {
  font-size: 1.2rem;
  opacity: 0.95;
  animation: slideInUp 0.6s ease-in-out;
}

@media (max-width: 768px) {
  .uk-sections {
    gap: 40px;
  }
  .uk-section {
    padding: 30px;
  }
}
.uk-section h2 {
  font-size: 1.5rem;
}

.uk-section p,
.uk-section ul li {
  font-size: 1rem;
}

/*========================= Uk Overview Section =========================*/

.uk-overview {
  padding: 40px 20px;
  /* width: 90% */
  max-width: 1600px;
  margin: 0 auto;
  /* background-color:#d27130; */
}
.right-overview-h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  display: block;
  color: #1d3e74;
}

.right-overview-h1::after {
  content: "";
  display: block;
  width: 0px;
  height: 5px;
  background: linear-gradient(to right, #002d5b, #60a5fa);
  margin: 15px auto 0;
  border-radius: 10px;
  transition: width 0.4s ease;
}
.right-overview-h1-span {
  color: #0c2444;
  font-weight: 900;
}
.right-overview-h1:hover::after {
  width: 120px;
}
.left-overview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.left-overview img {
  width: 100%;
  height: 100%;
  height: auto;
  border-radius: 10%;
  /* box-shadow: 0 10px 8px rgba(65, 49, 49, 0.697); */
}
.right-overview {
  padding: 20px;
  width: 100%;
}
.right-overview p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #333333;
  text-align: justify;
}
.overview-container {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

/* responsive overview */

@media (max-width: 1028px) {
  .overview-container {
    flex-direction: column;
  }
  .left-overview,
  .right-overview {
    width: 80%;
  }
  .right-overview p {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .overview-container {
    flex-direction: column;
  }
  .left-overview,
  .right-overview {
    width: 100%;
  }
  .right-overview p {
    font-size: 1.2rem;
  }
}
@media (max-width: 300px) {
  .right-overview-h1 {
    font-size: 2rem;
  }
}
@media (max-width: 150px) {
  .right-overview-h1 {
    font-size: 1rem;
  }
}
/* ========================= Why Study In Uk =========================*/
.uk-why-study {
  padding: 40px 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.why-study-h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  display: block;
  color: #1d3e74;
}

.why-study-h1::after {
  content: "";
  display: block;
  width: 0px;
  height: 5px;
  background: linear-gradient(to right, #002d5b, #60a5fa);
  margin: 15px auto 0;
  border-radius: 10px;
  transition: width 0.4s ease;
}
.why-study-h1-span {
  color: #0c2444;
  font-weight: 900;
}
.why-study-h1:hover::after {
  width: 120px;
}

.why-study-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  margin-left: 30px;
}
.why-study-card {
  /* background:linear-gradient(90deg , #e2e3e6,#0f1d3a); */
  border-radius: 0 40px;
  border-left: 2px solid #0f1d3a;
  border-bottom: 2px solid #002d5b;
  width: 90%;
  padding: 20px 90px 20px 20px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  /* align-items: center; */
  gap: 20px;
  transition: 0.4s ease-in-out;
}
.why-study-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);
  border-radius: 40px;
}
.why-study-icon {
  font-size: 3rem;
}
.why-study-card-h3 {
  font-size: 1.8rem;
  color: #1d3e74;
}
.why-study-card-p {
  font-size: 1rem;
  color: #212121;
}
/*========================= Swiper =========================  */
/* ================= SECTION ================= */
.uni-swiper-section {
  padding: 80px 20px;
  /* background: linear-gradient(180deg, #f4f7fb, #ffffff); */
  max-width: 1600px;
  margin: auto;
}

/* ================= TITLE ================= */
.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #1d3e74;
}

.section-title span {
  color: #0c2444;
  font-weight: 800;
}

/* ================= CARD ================= */
.uni-card {
  background: #fbf5f5;
  border-radius: 30px;
  overflow: hidden;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
  transition: 0.4s ease;
  margin-top: 30px;
}

.uni-card:hover {
  transform: translateY(-12px);
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18); */
}

.uni-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.uni-card-body {
  padding: 25px;
}

.uni-card-body h3 {
  font-size: 1.4rem;
  color: #1d3e74;
}

.uni-card-body p {
  color: #555;
  font-weight: 500;
  margin-bottom: 10px;
}

/* ================= META ================= */
.uni-meta {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

/* ================= BUTTON ================= */
 .apply-btn-uni {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #002d5b, #60a5fa);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.apply-btn:hover {
  opacity: 0.9;
}

/* ================= SWIPER UI ================= */
.swiper-button-next,
.swiper-button-prev {
  color: #1d3e74;
}

.swiper-pagination-bullet {
  background: #c6d3e3;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #1d3e74;
}
