/* ===== Layout Wrapper (SHORT BACKGROUND) ===== */
.layout-wrapper {
  margin-top: 30px;
  margin-bottom: 90px;
  width: 100%;
  height: 900px;
  /* min-height: 20vh; */
  background-image: url('https://i.pinimg.com/736x/b3/15/52/b315527f272a1a00df44206a286308b7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Scroll Area ===== */
.scroll-area {
  width: 100%;
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===== Welcome Glass Box (BIGGER + MORE TRANSPARENT) ===== */
.glass-box {
  background: rgba(255, 255, 255, 0.12); 
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.22);
  border-radius: 18px;

  padding: 56px 64px;     
  width: 70%;             
  max-width: 520px;

  text-align: center;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.14);
}

/* ===== Text ===== */
.title-text {
  font-size: 38px;        
  font-weight: 700;
  color: white;
  margin-bottom: 14px;
}

.sub-text {
  font-size: 17px;
  color: white;
  opacity: 0.7;
  text-align: left;
}

/* ===== Animation Base ===== */
.glass-box {
  opacity: 0;
  transform: translateY(40px) scale(0.96);
  transition: all 0.8s ease-out;
}

/* ===== When visible ===== */
.glass-box.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}
