.fees-wrapper {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  gap: 40px;
  background: #eef3f9;
  padding: 40px;
  border-radius: 16px;
}

.fees-h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
  /* letter-spacing: -.5px; */
  position: relative;
  display: block;
  color: #1d3e74;
}

.fees-h1::after {
  content: "";
  display: block;
  width: 0px;
  height: 5px;
  background: linear-gradient(to right, #002d5b, #60a5fa);
  margin: 15px auto 0;
  border-radius: 10px;
  transition: width 0.4s ease;
}
.fees-h1-span {
  color: #0c2444;
  font-weight: 900;
}

.fees-h1:hover:after {
  width: 120px;
}


.fees-left {
  width: 70%;
}

.fees-left h2 {
  font-size: 36px;
  font-weight: 700;
}

.fees-left h2 span {
  display: block;
  border-bottom: 4px solid red;
  width: fit-content;
}

.fees-left p {
  margin-top: 20px;
  line-height: 1.7;
  font-size: 20px;
  color: #444;
}

.fees-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fees-box {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
}

.fees-box h4 {
  background: #eef2f7;
  padding: 10px 16px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.fees-row {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  margin-bottom: 10px;
}
