@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
/* --- Main Heading (WAP) --- */
.wap {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 40px;
  /* font-family: 'Inter', sans-serif; */
  /* background: linear-gradient(135deg, #002d5b 0%, #0056b3 100%); */
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* text-transform: uppercase; */
  letter-spacing: -1.5px;
  position: relative;
  display: block;
  width: 100%;
  color: linear-gradient(135deg, #002d5b 0%, #0056b3 100%);
}

.wap::after {
  content: "";
  display: block;
  width: 0px;
  height: 5px;
  background: linear-gradient(to right, #002d5b, #60a5fa);
  margin: 15px auto 0;
  border-radius: 10px;
  transition: width 0.4s ease;
}
.wap-span {
  color: #000000;
}

.wap:hover::after {
  width: 120px;
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
