* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.trending {
  padding: 80px 80px 140px 80px;
  background: #ffffff;
  text-align: center;
}

.popular-h1{
  margin-bottom: 80px;
}

.trending h2 span {
  position: relative;
}

.course-card {
  background: #ffffff;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
}

.course-card:hover {
  transform: translateY(-8px);
}

/* Image */
.course-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

/* Title */
.course-title {
  padding: 16px 18px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.view-more-wrapper{
  margin-top: 50px;
}
/* Responsive */
@media (max-width: 992px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .course-grid {
    grid-template-columns: 1fr;
  }

  .trending h2 {
    font-size: 28px;
  }
}